*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bmi{
    width: 60%;
    background-color: rgb(209, 172, 68);
    height: 800px;
}
.ertekek{
    display: block;
}
.magassag{
    display: flex;
    justify-content: space-around;
}
.suly{
    display: flex;
    justify-content: space-around;
}
h1{
    color: white;
}